*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
}

.container {
  width: 100%;
  margin: 3px 0px;
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
